---
import { Image } from "astro:assets";
import localImage from "public/images/flex.gif";
import ArrowFowar from "./icons/arrowFowar.astro";

interface Props {
  name: string;
  position: string;
  startDate: string;
  endDate: string;
  summary: string;
}

const { name, position, startDate, endDate, summary } = Astro.props;
---

<div
  class="border border-spacing-2 border-gray-400 hover:shadow-lg mt-4 rounded-xl p-4 animated duration-300"
>
  <div class="mb-2 flex gap-7 items-center justify-between">
    <h2 class="flex gap-4">
      {name}
    </h2>
    <p>{startDate} - {endDate}</p>
  </div>
  <hr />
  <div class="flex items-center flex-row mt-2">
    <ArrowFowar />
    <p class="ml-4">{position}</p>
  </div>
  <p class="mt-2">
    {summary}
  </p>
</div>
